Source: kwin-effects-yaml
Section: kde
Priority: optional
Maintainer: Kristopher Ives <kristopher.ives@gmail.com>
Build-Depends:
 debhelper (>= 10),
 cmake, extra-cmake-modules,
 kwin-dev,
 libkf5config-dev,
 libkf5configwidgets-dev,
 libkf5coreaddons-dev,
 libkf5windowsystem-dev,
 qtbase5-dev,
 pkg-config,
 libdbus-1-dev
Standards-Version: 4.1.2
Homepage: https://github.com/zzag/kwin-effects-yaml
Vcs-Git: https://github.com/zzag/kwin-effects-yaml.git
Vcs-Browser: https://github.com/zzag/kwin-effects-yaml

Package: kwin-effects-yaml
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Just Yet Another Magic Lamp effect
